.add {
    width: 70%;
    margin-left: 25px;
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-img-upload img {
    width: 120px;
    cursor: pointer;
}

.add-product-name,
.add-product-description {
    width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
    padding: 10px;
    background-color: transparent;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category select,
.add-price input {
    max-width: 120px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.add-btn:hover {
    background-color: #333;
}